[submodule "client"]
	path = client
	url = https://github.com/Deoxyribonucleic/cuilien-agar-client
[submodule "cuilien"]
	path = cuilien
	url = https://github.com/Deoxyribonucleic/cuilien
[submodule "depend/dawn"]
	path = depend/dawn
	url = https://github.com/Deoxyribonucleic/dawn
